# 00. 추천시스템 이해 - Apriori, FP-Growth

In [1]:
import mlxtend
import numpy as np
import pandas as pd

In [3]:
# 데이터셋 생성
# 우유, 기저귀, 쥬스, 맥주, 양상추
data = np.array([
    ['우유', '기저귀', '쥬스'],  # 0번의 거래
    ['양상추', '기저귀', '맥주'],  # 1번의 거래
    ['우유', '양상추', '기저귀', '맥주'],  # 2번의 거래
    ['양상추', '맥주']  # 3번의 거래
])

## Apriori 알고리즘

In [6]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [7]:
%%time
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.5, use_colnames=True)

Wall time: 4 ms

   support        itemsets
0     0.75           (기저귀)
1     0.75            (맥주)
2     0.75           (양상추)
3     0.50            (우유)
4     0.50       (맥주, 기저귀)
5     0.50      (양상추, 기저귀)
6     0.50       (우유, 기저귀)
7     0.75       (맥주, 양상추)
8     0.50  (맥주, 양상추, 기저귀)

## FP-Growth 알고리즘

In [8]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [9]:
%%time
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df, min_support=0.5, use_colnames=True)

Wall time: 2 ms

   support        itemsets
0     0.75           (기저귀)
1     0.50            (우유)
2     0.75           (양상추)
3     0.75            (맥주)
4     0.50       (맥주, 기저귀)
5     0.50      (양상추, 기저귀)
6     0.50  (맥주, 양상추, 기저귀)
7     0.50       (우유, 기저귀)
8     0.75       (맥주, 양상추)

apriori는 4ms가 걸린 반면, fpgrowth는 2ms 걸림

__Q. FP-growth 알고리즘도 최소지지도 말고 다른 기준도 사용하는지?__:

사용 가능. 하지만 단점이 너무 critical 해서 해당 알고리즘을 사용 하지 않음